@charset "utf-8";

a{
    color: #333333;
    font-size: 0.12rem;
}
.app-top{
    position: fixed;
    width: 100vw;
    top: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0.44rem;
    background-color: #0cc440;
}
header a{
    height: 0.24rem;
    width: 0.61rem;
    text-align: center;
    line-height: 0.24rem;
    font-size: 0.12rem;
}
header a:nth-child(1){
    color: #a3e9b3;
    background-color: #3dd066;
    border-radius: 0.12rem 0 0 0.12rem;
}
header a:nth-child(2){
    color: white;
    background-color: #63d985;
    border-radius: 0 0.12rem 0.12rem 0;
}
article{
    font-size: 0;
    margin: 0.44rem 0 0.44rem 0;
    background-color: #fff;
}
.user-main dl{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100vw;
    height: 0.71rem;
    padding: 0.105rem 0.13rem 0 0.115rem;
    background-color: #fff;
}
.user-main dl dt{
    width: 0.48rem;
    height: 0.48rem;
    border: 2px solid #afafaf;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.1rem;
}
.user-main dl dt a{
    display: block;
    height: 100%;
    width: 100%;
    background: url(../images/03index_1_03.png) no-repeat center center;
    background-size: cover;
    text-indent: -9999px;
}
.user-main dl dd{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 0.48rem;
    justify-content: flex-start;
}
.user-main dl .user-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.04rem 0 0.1rem 0;
}
.user-main .user-name b{
    font-size: 0.14rem;
    color: black;
}
.user-main .user-name span{
    font-size: 0.1rem;
    color: #cdcdcd;
}
.user-main .user-name span:after{
    content: "\e61a";
    margin-left: 0.05rem;
    position: relative;
    top: -0.015rem;
}
.user-main dd p{
    font-size: 0.12rem;
    color: #999999;
}
.user-img{
    width: 100vw;
    height: 2.85rem;
}
.user-img img{
    display: block;
    width: 100%;
    height: 100%;
}
.user-main .talk{
    width: 100vw;
    height: 0.33rem;
    line-height: 0.33rem;
    text-indent: 0.21rem;
    font-size: 0.12rem;
    color: #323232;
    border-bottom: 1px solid #e4e4e4;
}
footer{
    position: fixed;
    bottom: 0;
    height: 0.44rem;
    width: 100vw;
    background-color: white;
    box-sizing: border-box;
    border-top: 1px solid #ccd6cd;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 0.12rem 0 0.16rem;
}
footer a{
    text-align: center;
}
footer a span{
    margin-top: 0.055rem;
    display: block;
    font-size: 0.11rem;
    color: #d5d5d5;
}
footer a b{
    font-size: 0.11rem;
    color: #d5d5d5;
}
footer a:first-child span{
    color: #0bc540;
}
footer a:first-child b{
    color: #0bc540;
}
footer a:nth-child(3){
    box-sizing: border-box;
    position: relative;
    width: 0.52rem;
    height: 0.52rem;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    top: -0.08rem;
    background-color: #fff;
    line-height: 0.47rem;
}
footer a:nth-child(3) span{
    margin-top: 0;
    font-size: 0.28rem;
    vertical-align: middle;
}