@charset "utf-8";

a{
    color: #333333;
    font-size: 0.12rem;
}
input{
    outline: none;
    border: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f1f1;
    height: 100vh;
}
header{
    width: 100vw;
    height: 0.44rem;
    background-color: #0cc440;
    text-align: center;
    line-height: 0.44rem;
    color: white;
    font-size: 0.16rem;
}


article{
    font-size: 0;
    margin-top: 0.05rem;
    background-color: #fff;
    /* min-height: 4.72rem; */
    flex: 1;
    margin-bottom: 0.48rem;
}
.user-main dl{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100vw;
    height: 0.66rem;
    padding: 0.09rem 0.13rem 0 0.115rem;
    background-color: #fff;
}
.user-main dl dt{
    width: 0.48rem;
    height: 0.48rem;
    border: 2px solid #afafaf;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.1rem;
}
.user-main dl dt a{
    display: block;
    height: 100%;
    width: 100%;
    background: url(../images/03index_1_03.png) no-repeat center center;
    background-size: cover;
    text-indent: -9999px;
}
.user-main dl dd{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 0.48rem;
    justify-content: flex-start;
}
.user-main dl .user-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.04rem 0 0.1rem 0;
}
.user-main .user-name b{
    font-size: 0.14rem;
    color: black;
}
.user-main .user-name a{
    width: 0.375rem;
    height: 0.175rem;
    color: white;
    background-color: #e5e5e5;
    line-height: 0.175rem;
    text-align: center;
    font-size: 0.12rem;
    font-size: 0.1rem;
    border-radius: 3px;
}
article div:first-child .user-name a{
    background-color: #0bc540;
}
.user-main dd p{
    font-size: 0.12rem;
    color: #999999;
}
.user-img{
    width: 100vw;
    height: 2.85rem;
}
.user-img img{
    display: block;
    width: 100%;
    height: 100%;
}
.user-main .talk{
    width: 100vw;
    height: 0.33rem;
    line-height: 0.33rem;
    text-indent: 0.21rem;
    font-size: 0.12rem;
    color: #323232;
    border-bottom: 1px solid #e4e4e4;
}
article nav{
    width: 100vw;
    height: 0.255rem;
    display: flex;
    align-items: stretch;
}
article nav a{
    flex: 1;
    text-align: center;
    font-size: 0.12rem;
    color: #999999;
    box-sizing: border-box;
    line-height: 0.255rem;
}
article nav a:first-child{
    color: #0bc540;
    border-bottom: 0.025rem solid #0bc540;
}
.show{
    width: 100vw;
}
.show img{
    width: 50%;
    height: 1.59rem;
}


footer{
    position: fixed;
    bottom: 0;
    height: 0.44rem;
    width: 100vw;
    background-color: white;
    box-sizing: border-box;
    border-top: 1px solid #ccd6cd;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 0.12rem 0 0.16rem;
}
footer a{
    text-align: center;
}
footer a span{
    margin-top: 0.055rem;
    display: block;
    font-size: 0.11rem;
    color: #d5d5d5;
}
footer a b{
    font-size: 0.11rem;
    color: #d5d5d5;
}
footer a:nth-child(4) span{
    color: #0bc540;
}
footer  a:nth-child(4) b{
    color: #0bc540;
}
footer a:nth-child(3){
    box-sizing: border-box;
    position: relative;
    width: 0.52rem;
    height: 0.52rem;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    top: -0.08rem;
    background-color: #fff;
    line-height: 0.47rem;
}
footer a:nth-child(3) span{
    margin-top: 0;
    font-size: 0.28rem;
    vertical-align: middle;
}